.br-pokemon {

  .br-unit {
    .br-unit-inner {
      background-position: center center;
      background-size: contain;
      background-repeat: no-repeat;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      margin-left: 5px;
      width: 40px;
      height: 40px;
      filter: grayscale(1);
    }

    &:first-child .br-unit-inner {
      margin-left: 0;
      background-image: url('custom/007-pikachu.svg');
    }

    &:nth-child(2) .br-unit-inner {
      background-image: url('custom/006-bullbasaur.svg');
    }

    &:nth-child(3) .br-unit-inner {
      background-image: url('custom/008-charmander.svg');
    }

    &:nth-child(4) .br-unit-inner {
      background-image: url('custom/002-venonat.svg');
    }

    &:nth-child(5) .br-unit-inner {
      background-image: url('custom/005-jigglypuff.svg');
    }

    &:nth-child(6) .br-unit-inner {
      background-image: url('custom/001-caterpie.svg');
    }

    // &:nth-child(4) {
    //     background-image: url('/./custom/004-squirtle.svg');
    // }
    // &:nth-child(5) {
    //     background-image: url('/./custom/003-bellsprout.svg');
    // }
  }

  .br-unit-inner.br-active {
    filter: grayscale(0);
  }
}

