@import 'variables';

.br-default {
   
    align-items: center;
    .br-unit {
        margin-right: 0.2173em; //5px
        font-size: 23px;
        height: 0.7826em; //18px
        width: 0.7826em; //18px
        
        &:after{
            content: "\2605";
            color: $star-default;
        }
    }

    .br-unit-selected:after {
        color: $star-selected;
    }

    .br-unit-active:after {
        color: $star-active;
    }

}

