@import "variables";

.br-movie {

    height: 10px;
    white-space: nowrap;

    .br-unit {
        display: block;
        width: 60px;
        height: 8px;
        float: left;
        background-color: lighten($blue-color, 25%);
        margin: 1px;

        &.br-unit-active,
        &.br-unit-selected {
            background-color: $blue-color;
        }
    }
  

    &.br-readonly {

        .br-active, .br-selected {
            background-color: lighten($blue-color, 10%);
        }
    }
}
