@import 'variables';

.br-default {

  .br-units {
    align-items: center;
    height: 32px;
  }

  .br-unit-inner {
    position: relative;
    margin-right: 5px;
    font-size: 23px;
    height: 32px;
    width: 18px;

    &:after {
      content: "\2605";
      color: $star-default;
      height: 100%;
    }
  }

  .br-selected:after {
    color: $star-selected;
  }

  .br-active:after {
    color: $star-active;
  }

}

