@import 'variables';

.br-vertical {

  display: flex;
  flex-direction: column;
  align-items: center;

  .br-units {
    width: 120px;
    flex-direction: column-reverse;
    margin: 10px 0;
  }

  .br-unit-inner {
    display: block;
    width: 120px;
    height: 5px;
    background-color: lighten($orange-color, 25%);
    margin-top: 1px;

    &.br-active,
    &.br-selected {
      background-color: $orange-color;
    }
  }

  &.br-readonly {

    .br-active,
    .br-selected {
      border: 2px solid lighten($blue-color, 10%);
      color: lighten($blue-color, 10%);
    }
  }

  .br-text {
    font-size: 18px;
    font-weight: 600;
    color: $orange-color;
  }
}
