section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3em 0;
}

.stars {
  margin-top: 100px;
}

.link {
  margin-left: 5px;
  cursor: pointer;
  text-decoration: none;
  color: #50e3c2;
}
