.header {
  text-align: center;
}

.forkme {
  position: fixed;
  left: 2em;
  top: 1.5em;
  z-index: 99999;
  opacity: 0.4;
  i {
    font-size: 60px;
  }
}

img {
  margin-bottom: 30px;
  width: 200px;
}
