.br-movie .br-units {
  margin: 15px 0;
}
.br-movie .br-unit {
  display: block;
  width: 60px;
  height: 8px;
  float: left;
  background-color: #bbcefb;
  margin: 1px;
}
.br-movie .br-unit.br-active, .br-movie .br-unit.br-selected {
  background-color: #4278F5;
}
.br-movie.br-readonly .br-active, .br-movie.br-readonly .br-selected {
  background-color: #729bf8;
}
.br-movie .br-text {
  letter-spacing: 2px;
  font-size: 16px;
  clear: both;
  width: 240px;
  text-align: center;
  font-weight: 600;
  display: block;
  color: #4278F5;
}
