@import 'variables';

$star-utf8: '\2605';

.br-default {

  .br-units {
    align-items: center;
  }

  .br-unit {
    position: relative;
    font-size: 23px;
    line-height: 1;

    & + .br-unit {
      margin-left: 5px;
    }

    &::before {
      content: $star-utf8;
      color: $star-default;
    }
  }

  .br-selected::before,
  .br-fraction::after {
    color: $star-selected;
  }
  
  .br-fraction::after {
    content: $star-utf8;
    width: 50%;
    width: calc(50% + 1px); // adds one so the half star can be easily seen
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
  }

  .br-active::before {
    color: $star-active;
  }

}
