@import 'variables';

.br-numbers {
    
    height: 15px;
    white-space: nowrap;

    .br-unit {
      display: block;
      width: 12px;
      padding: 5px 0;
      height: 28px;
      float: left;
      background-color: lighten($orange-color, 25%);
      margin: 1px;
      text-align: center;

      &.br-unit-active,
      &.br-unit-selected {
        background-color: $orange-color;
      }
    }


&.br-readonly {
    .br-unit {
        cursor: default;

        &.br-unit-active,
      &.br-unit-selected {
        background-color: lighten($orange-color, 10%);
        }
    }

    .br-current-rating {
        color: lighten($orange-color, 10%);
    }
}

}