@import 'variables';

.br-square {

  .br-units {
    counter-reset: counter;
  }

  .br-unit {
    width: 30px;
    height: 30px;
    border: 2px solid lighten($blue-color, 25%);
    background-color: white;
    margin: 2px;
    text-decoration: none;
    font-size: 14px;
    line-height: 2;
    text-align: center;
    color: lighten($blue-color, 25%);
    font-weight: 600;

    &.br-active,
    &.br-selected {
      border: 2px solid $blue-color;
      color: $blue-color;
    }

    &:after {
      content: counter(counter);
      counter-increment: counter;
    }
  }

  &.br-readonly {

    .br-active,
    .br-selected {
      border: 2px solid lighten($blue-color, 10%);
      color: lighten($blue-color, 10%);
    }

    .br-theme {
      color: lighten($orange-color, 10%);
    }
  }
}
