@import 'variables';

.br-vertical{
    height: auto !important;
    width: 120px;
    white-space: nowrap;
    flex-direction: column-reverse;

    .br-unit {
        display: block;
        width: 120px;
        height: 5px;
        background-color: lighten($orange-color, 25%);
        margin: 1px;

        &.br-unit-active,
        &.br-unit-selected {
            background-color: $orange-color;
        }
    }
    
    &.br-readonly {

        .br-unit-active,
        .br-unit-selected {
                border: 2px solid lighten($blue-color, 10%);
                color: lighten($blue-color, 10%);
        }

        .br-current-rating {
            color: lighten($orange-color, 10%);
        }
    }
}