.br-horizontal {
  display: flex;
  justify-content: center;
  align-items: center;
}
.br-horizontal .br-unit {
  display: block;
  width: 12px;
  height: 32px;
  float: left;
  background-color: #fbedd9;
  margin: 1px;
  text-align: center;
}
.br-horizontal .br-unit.br-active, .br-horizontal .br-unit.br-selected {
  background-color: #EDB867;
}
.br-horizontal.br-readonly .br-unit {
  cursor: default;
}
.br-horizontal.br-readonly .br-unit.br-active, .br-horizontal.br-readonly .br-unit.br-selected {
  background-color: #f2cd95;
}
.br-horizontal .br-text {
  width: 20px;
  margin-left: 20px;
  font-size: 18px;
  color: #EDB867;
}
