.br-square .br-units {
  counter-reset: counter;
}
.br-square .br-unit {
  width: 30px;
  height: 30px;
  border: 2px solid #bbcefb;
  background-color: white;
  margin: 2px;
  text-decoration: none;
  font-size: 14px;
  line-height: 2;
  text-align: center;
  color: #bbcefb;
  font-weight: 600;
}
.br-square .br-unit.br-active, .br-square .br-unit.br-selected {
  border: 2px solid #4278F5;
  color: #4278F5;
}
.br-square .br-unit:after {
  content: counter(counter);
  counter-increment: counter;
}
.br-square.br-readonly .br-active,
.br-square.br-readonly .br-selected {
  border: 2px solid #729bf8;
  color: #729bf8;
}
.br-square.br-readonly .br-theme {
  color: #f2cd95;
}
