<div class="stars container">
  <h3>A few flavours of star ratings compatible with popular libraries</h3>
  <div class="row">

    <div class="col-md-4">
      <section>
        <bar-rating [(rate)]="cssRate" [max]="5"></bar-rating>
        <p>CSS Stars</p>
      </section>
    </div>

    <div class="col-md-4">
      <section>
        <bar-rating [(rate)]="bootRate" [max]="5">
          <ng-template ratingActive>
            <i class="bi bi-star-fill" style="margin: 2px; color: #edb867"></i>
          </ng-template>
          <ng-template ratingInactive>
            <i class="bi bi-star-fill" style="margin: 2px; color: #d2d2d2"></i>
          </ng-template>
        </bar-rating>
        <p>Bootstrap</p>
      </section>
    </div>

    <div class="col-md-4">
      <section>
        <bar-rating [(rate)]="faRate" [max]="5">
          <ng-template ratingActive>
            <fa-icon [icon]="['fas', 'star']" [fixedWidth]="true" size="lg" style="color: #edb867"></fa-icon>
          </ng-template>
          <ng-template ratingInactive>
            <fa-icon [icon]="['fas', 'star']" [fixedWidth]="true" size="lg" style="color: #d2d2d2"></fa-icon>
          </ng-template>
        </bar-rating>
        <p>Fontawesome</p>
      </section>
    </div>
  </div>


  <section>
    <h3>It can be used to display fractional star ratings.</h3>
    <bar-rating [rate]="faoRate" (rateChange)="onFaoRate($event)" [max]="10">
      <ng-template ratingActive>
        <fa-icon [icon]="['fas', 'star']" [fixedWidth]="true" size="lg" style="color: #50e3c2"></fa-icon>
      </ng-template>
      <ng-template ratingInactive>
        <fa-icon [icon]="['far', 'star']" [fixedWidth]="true" size="lg" style="color: #d2d2d2"></fa-icon>
      </ng-template>
      <ng-template ratingFraction>
        <fa-icon [icon]="['fas', 'star-half-alt']" [fixedWidth]="true" size="lg" style="color: #50e3c2"></fa-icon>
      </ng-template>
    </bar-rating>

    <p *ngIf="!faoRated">Current rating: {{faoRate}}</p>
    <p *ngIf="faoRated">Your rating: {{faoRate}}
      <fa-icon class="link" [icon]="['fas', 'times-circle']" size="lg" (click)="faoReset()"></fa-icon>
    </p>
  </section>
</div>
